In [2]:
import pandas as pd
b = pd.read_csv('Building_Permits.csv')
m = pd.read_csv('melb_data.csv')
n = pd.read_csv('NFL.csv')

C:\Users\hang\AppData\Local\Temp\ipykernel_11500\3476338586.py:2: DtypeWarning: Columns (22,32) have mixed types. Specify dtype option on import or set low_memory=False.
  b = pd.read_csv('Building_Permits.csv')
C:\Users\hang\AppData\Local\Temp\ipykernel_11500\3476338586.py:4: DtypeWarning: Columns (25,51) have mixed types. Specify dtype option on import or set low_memory=False.
  n = pd.read_csv('NFL.csv')

In [3]:
b.info()
m.info()
n.iloc[:10, :100].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198900 entries, 0 to 198899
Data columns (total 43 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   Permit Number                           198900 non-null  object
 1   Permit Type                             198900 non-null  int64
 2   Permit Type Definition                  198900 non-null  object
 3   Permit Creation Date                    198900 non-null  object
 4   Block                                   198900 non-null  object
 5   Lot                                     198900 non-null  object
 6   Street Number                           198900 non-null  int64
 7   Street Number Suffix                    2216 non-null    object
 8   Street Name                             198900 non-null  object
 9   Street Suffix                           196132 non-null  object
 10  Unit                                    29479 non-null   float64
 11  Unit Suffix                             1961 non-null    object
 12  Description                             198610 non-null  object
 13  Current Status                          198900 non-null  object
 14  Current Status Date                     198900 non-null  object
 15  Filed Date                              198900 non-null  object
 16  Issued Date                             183960 non-null  object
 17  Completed Date                          97191 non-null   object
 18  First Construction Document Date        183954 non-null  object
 19  Structural Notification                 6922 non-null    object
 20  Number of Existing Stories              156116 non-null  float64
 21  Number of Proposed Stories              156032 non-null  float64
 22  Voluntary Soft-Story Retrofit           35 non-null      object
 23  Fire Only Permit                        18827 non-null   object
 24  Permit Expiration Date                  147020 non-null  object
 25  Estimated Cost                          160834 non-null  float64
 26  Revised Cost                            192834 non-null  float64
 27  Existing Use                            157786 non-null  object
 28  Existing Units                          147362 non-null  float64
 29  Proposed Use                            156461 non-null  object
 30  Proposed Units                          147989 non-null  float64
 31  Plansets                                161591 non-null  float64
 32  TIDF Compliance                         2 non-null       object
 33  Existing Construction Type              155534 non-null  float64
 34  Existing Construction Type Description  155534 non-null  object
 35  Proposed Construction Type              155738 non-null  float64
 36  Proposed Construction Type Description  155738 non-null  object
 37  Site Permit                             5359 non-null    object
 38  Supervisor District                     197183 non-null  float64
 39  Neighborhoods - Analysis Boundaries     197175 non-null  object
 40  Zipcode                                 197184 non-null  float64
 41  Location                                197200 non-null  object
 42  Record ID                               198900 non-null  int64
dtypes: float64(12), int64(3), object(28)
memory usage: 65.3+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         13580 non-null  object
 1   Address        13580 non-null  object
 2   Rooms          13580 non-null  int64
 3   Type           13580 non-null  object
 4   Price          13580 non-null  float64
 5   Method         13580 non-null  object
 6   SellerG        13580 non-null  object
 7   Date           13580 non-null  object
 8   Distance       13580 non-null  float64
 9   Postcode       13580 non-null  float64
 10  Bedroom2       13580 non-null  float64
 11  Bathroom       13580 non-null  float64
 12  Car            13518 non-null  float64
 13  Landsize       13580 non-null  float64
 14  BuildingArea   7130 non-null   float64
 15  YearBuilt      8205 non-null   float64
 16  CouncilArea    12211 non-null  object
 17  Lattitude      13580 non-null  float64
 18  Longtitude     13580 non-null  float64
 19  Regionname     13580 non-null  object
 20  Propertycount  13580 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 2.2+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 100 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Date                         10 non-null     object
 1   GameID                       10 non-null     int64
 2   Drive                        10 non-null     int64
 3   qtr                          10 non-null     int64
 4   down                         9 non-null      float64
 5   time                         10 non-null     object
 6   TimeUnder                    10 non-null     int64
 7   TimeSecs                     10 non-null     float64
 8   PlayTimeDiff                 10 non-null     float64
 9   SideofField                  10 non-null     object
 10  yrdln                        10 non-null     float64
 11  yrdline100                   10 non-null     float64
 12  ydstogo                      10 non-null     int64
 13  ydsnet                       10 non-null     int64
 14  GoalToGo                     10 non-null     float64
 15  FirstDown                    9 non-null      float64
 16  posteam                      10 non-null     object
 17  DefensiveTeam                10 non-null     object
 18  desc                         10 non-null     object
 19  PlayAttempted                10 non-null     int64
 20  Yards.Gained                 10 non-null     int64
 21  sp                           10 non-null     int64
 22  Touchdown                    10 non-null     int64
 23  ExPointResult                0 non-null      object
 24  TwoPointConv                 0 non-null      object
 25  DefTwoPoint                  0 non-null      object
 26  Safety                       10 non-null     int64
 27  Onsidekick                   10 non-null     int64
 28  PuntResult                   2 non-null      object
 29  PlayType                     10 non-null     object
 30  Passer                       4 non-null      object
 31  Passer_ID                    10 non-null     object
 32  PassAttempt                  10 non-null     int64
 33  PassOutcome                  4 non-null      object
 34  PassLength                   4 non-null      object
 35  AirYards                     10 non-null     int64
 36  YardsAfterCatch              10 non-null     int64
 37  QBHit                        10 non-null     int64
 38  PassLocation                 4 non-null      object
 39  InterceptionThrown           10 non-null     int64
 40  Interceptor                  0 non-null      object
 41  Rusher                       3 non-null      object
 42  Rusher_ID                    10 non-null     object
 43  RushAttempt                  10 non-null     int64
 44  RunLocation                  3 non-null      object
 45  RunGap                       2 non-null      object
 46  Receiver                     4 non-null      object
 47  Receiver_ID                  10 non-null     object
 48  Reception                    10 non-null     int64
 49  ReturnResult                 0 non-null      object
 50  Returner                     2 non-null      object
 51  BlockingPlayer               0 non-null      object
 52  Tackler1                     8 non-null      object
 53  Tackler2                     1 non-null      object
 54  FieldGoalResult              0 non-null      object
 55  FieldGoalDistance            0 non-null      float64
 56  Fumble                       10 non-null     int64
 57  RecFumbTeam                  0 non-null      object
 58  RecFumbPlayer                0 non-null      object
 59  Sack                         10 non-null     int64
 60  Challenge.Replay             10 non-null     int64
 61  ChalReplayResult             0 non-null      object
 62  Accepted.Penalty             10 non-null     int64
 63  PenalizedTeam                0 non-null      object
 64  PenaltyType                  0 non-null      object
 65  PenalizedPlayer              0 non-null      object
 66  Penalty.Yards                10 non-null     int64
 67  PosTeamScore                 10 non-null     float64
 68  DefTeamScore                 10 non-null     float64
 69  ScoreDiff                    10 non-null     float64
 70  AbsScoreDiff                 10 non-null     float64
 71  HomeTeam                     10 non-null     object
 72  AwayTeam                     10 non-null     object
 73  Timeout_Indicator            10 non-null     int64
 74  Timeout_Team                 10 non-null     object
 75  posteam_timeouts_pre         10 non-null     int64
 76  HomeTimeouts_Remaining_Pre   10 non-null     int64
 77  AwayTimeouts_Remaining_Pre   10 non-null     int64
 78  HomeTimeouts_Remaining_Post  10 non-null     int64
 79  AwayTimeouts_Remaining_Post  10 non-null     int64
 80  No_Score_Prob                10 non-null     float64
 81  Opp_Field_Goal_Prob          10 non-null     float64
 82  Opp_Safety_Prob              10 non-null     float64
 83  Opp_Touchdown_Prob           10 non-null     float64
 84  Field_Goal_Prob              10 non-null     float64
 85  Safety_Prob                  10 non-null     float64
 86  Touchdown_Prob               10 non-null     float64
 87  ExPoint_Prob                 10 non-null     float64
 88  TwoPoint_Prob                10 non-null     float64
 89  ExpPts                       10 non-null     float64
 90  EPA                          10 non-null     float64
 91  airEPA                       4 non-null      float64
 92  yacEPA                       4 non-null      float64
 93  Home_WP_pre                  10 non-null     float64
 94  Away_WP_pre                  10 non-null     float64
 95  Home_WP_post                 10 non-null     float64
 96  Away_WP_post                 10 non-null     float64
 97  Win_Prob                     10 non-null     float64
 98  WPA                          10 non-null     float64
 99  airWPA                       4 non-null      float64
dtypes: float64(32), int64(30), object(38)
memory usage: 7.9+ KB

In [4]:
m.sample(3)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
11296,Broadmeadows,37 Stanhope St,4,h,631000.0,S,YPA,15/07/2017,14.0,3047.0,...,2.0,2.0,696.0,158.0,1960.0,Hume,-37.68584,144.93150,Northern Metropolitan,4294.0
2013,Coburg,1/51 The Grove,2,h,605000.0,S,Jellis,27/06/2016,7.8,3058.0,...,1.0,1.0,0.0,13.0,1969.0,Moreland,-37.75190,144.97210,Northern Metropolitan,11204.0
12813,Point Cook,18 Creswick Dr,4,h,765000.0,S,LJ,16/09/2017,14.7,3030.0,...,2.0,2.0,612.0,219.0,2004.0,NaN,-37.88177,144.74221,Western Metropolitan,15542.0

In [5]:
m.isnull()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,True,False,False,False,False
13576,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
13577,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,True,False,False,False,False
13578,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
13579,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False

In [6]:
m.sum()

C:\Users\hang\AppData\Local\Temp\ipykernel_11500\1665219138.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  m.sum()

Suburb           AbbotsfordAbbotsfordAbbotsfordAbbotsfordAbbots...
Address          85 Turner St25 Bloomburg St5 Charles St40 Fede...
Rooms                                                        39898
Type             hhhhhhhhuhuhuhuhhhhhhtuuhhuhuhhhhuhhhhthhhthuh...
Price                                                14607789799.0
Method           SSSPPIVBSSSSSVBVBSSSPSSSSSPISSSPISSPPISSSSSSSS...
SellerG          BigginBigginBigginBigginNelsonJellisNelsonNels...
Date             3/12/20164/02/20164/03/20174/03/20174/06/20167...
Distance                                                  137671.0
Postcode                                                42170000.0
Bedroom2                                                   39582.0
Bathroom                                                   20835.0
Car                                                        21765.0
Landsize                                                 7583291.0
BuildingArea                                          1083529.3437
YearBuilt                                               16120234.0
Lattitude                                            -513448.97312
Longtitude                                           1969035.03583
Regionname       Northern MetropolitanNorthern MetropolitanNort...
Propertycount                                          101230988.0
dtype: object

In [8]:
m.isnull().sum()

Suburb              0
Address             0
Rooms               0
Type                0
Price               0
Method              0
SellerG             0
Date                0
Distance            0
Postcode            0
Bedroom2            0
Bathroom            0
Car                62
Landsize            0
BuildingArea     6450
YearBuilt        5375
CouncilArea      1369
Lattitude           0
Longtitude          0
Regionname          0
Propertycount       0
dtype: int64

In [9]:
m.shape()

TypeError: 'tuple' object is not callable

In [17]:
b.shape

(198900, 43)

In [18]:
m.mean()

C:\Users\hang\AppData\Local\Temp\ipykernel_11500\70517679.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  m.mean()

Rooms            2.937997e+00
Price            1.075684e+06
Distance         1.013778e+01
Postcode         3.105302e+03
Bedroom2         2.914728e+00
Bathroom         1.534242e+00
Car              1.610075e+00
Landsize         5.584161e+02
BuildingArea     1.519676e+02
YearBuilt        1.964684e+03
Lattitude       -3.780920e+01
Longtitude       1.449952e+02
Propertycount    7.454417e+03
dtype: float64

In [19]:
m.median()

C:\Users\hang\AppData\Local\Temp\ipykernel_11500\2639592894.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  m.median()

Rooms                 3.000000
Price            903000.000000
Distance              9.200000
Postcode           3084.000000
Bedroom2              3.000000
Bathroom              1.000000
Car                   2.000000
Landsize            440.000000
BuildingArea        126.000000
YearBuilt          1970.000000
Lattitude           -37.802355
Longtitude          145.000100
Propertycount      6555.000000
dtype: float64

In [24]:
m.fillna(m.mean(), inplace=True)
m.mean()

C:\Users\hang\AppData\Local\Temp\ipykernel_11500\2082311817.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  m.fillna(m.mean(), inplace=True)
C:\Users\hang\AppData\Local\Temp\ipykernel_11500\2082311817.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  m.mean()

Rooms            2.937997e+00
Price            1.075684e+06
Distance         1.013778e+01
Postcode         3.105302e+03
Bedroom2         2.914728e+00
Bathroom         1.534242e+00
Car              1.610075e+00
Landsize         5.584161e+02
BuildingArea     1.519676e+02
YearBuilt        1.964684e+03
Lattitude       -3.780920e+01
Longtitude       1.449952e+02
Propertycount    7.454417e+03
dtype: float64

In [29]:
bb = b.iloc[1000:1010, :10]
bb

,Permit Number,Permit Type,Permit Type Definition,Permit Creation Date,Block,Lot,Street Number,Street Number Suffix,Street Name,Street Suffix
1000,201301087445,8,otc alterations permit,01/08/2013,6907,013,48,NaN,Mercedes,Wy
1001,201301087431,8,otc alterations permit,01/08/2013,3604,058A,4075,NaN,20th,St
1002,201301087446,8,otc alterations permit,01/08/2013,3923,006,1550,NaN,Bryant,St
1003,201301087429,8,otc alterations permit,01/08/2013,3705,039,55,NaN,05th,St
1004,201301087448,8,otc alterations permit,01/08/2013,3923,006,1550,NaN,Bryant,St
1005,201301087447,8,otc alterations permit,01/08/2013,0613,029,2330,NaN,Clay,St
1006,201301087449,8,otc alterations permit,01/08/2013,3608,017,3350,B,21st,St
1007,201301087450,8,otc alterations permit,01/08/2013,1861A,005,910,NaN,Lawton,St
1008,M365147,8,otc alterations permit,01/08/2013,1018,007,414,NaN,Spruce,St
1009,M365147,8,otc alterations permit,01/08/2013,1018,007,416,NaN,Spruce,St

In [31]:
bb.fillna(0)

,Permit Number,Permit Type,Permit Type Definition,Permit Creation Date,Block,Lot,Street Number,Street Number Suffix,Street Name,Street Suffix
1000,201301087445,8,otc alterations permit,01/08/2013,6907,013,48,0,Mercedes,Wy
1001,201301087431,8,otc alterations permit,01/08/2013,3604,058A,4075,0,20th,St
1002,201301087446,8,otc alterations permit,01/08/2013,3923,006,1550,0,Bryant,St
1003,201301087429,8,otc alterations permit,01/08/2013,3705,039,55,0,05th,St
1004,201301087448,8,otc alterations permit,01/08/2013,3923,006,1550,0,Bryant,St
1005,201301087447,8,otc alterations permit,01/08/2013,0613,029,2330,0,Clay,St
1006,201301087449,8,otc alterations permit,01/08/2013,3608,017,3350,B,21st,St
1007,201301087450,8,otc alterations permit,01/08/2013,1861A,005,910,0,Lawton,St
1008,M365147,8,otc alterations permit,01/08/2013,1018,007,414,0,Spruce,St
1009,M365147,8,otc alterations permit,01/08/2013,1018,007,416,0,Spruce,St

In [33]:
bb.dropna()

,Permit Number,Permit Type,Permit Type Definition,Permit Creation Date,Block,Lot,Street Number,Street Number Suffix,Street Name,Street Suffix
1006,201301087449,8,otc alterations permit,01/08/2013,3608,017,3350,B,21st,St

In [34]:
bb.dropna(axis=1)

,Permit Number,Permit Type,Permit Type Definition,Permit Creation Date,Block,Lot,Street Number,Street Name,Street Suffix
1000,201301087445,8,otc alterations permit,01/08/2013,6907,013,48,Mercedes,Wy
1001,201301087431,8,otc alterations permit,01/08/2013,3604,058A,4075,20th,St
1002,201301087446,8,otc alterations permit,01/08/2013,3923,006,1550,Bryant,St
1003,201301087429,8,otc alterations permit,01/08/2013,3705,039,55,05th,St
1004,201301087448,8,otc alterations permit,01/08/2013,3923,006,1550,Bryant,St
1005,201301087447,8,otc alterations permit,01/08/2013,0613,029,2330,Clay,St
1006,201301087449,8,otc alterations permit,01/08/2013,3608,017,3350,21st,St
1007,201301087450,8,otc alterations permit,01/08/2013,1861A,005,910,Lawton,St
1008,M365147,8,otc alterations permit,01/08/2013,1018,007,414,Spruce,St
1009,M365147,8,otc alterations permit,01/08/2013,1018,007,416,Spruce,St

In [36]:
bb.fillna(method='bfill', axis=1)

,Permit Number,Permit Type,Permit Type Definition,Permit Creation Date,Block,Lot,Street Number,Street Number Suffix,Street Name,Street Suffix
1000,201301087445,8,otc alterations permit,01/08/2013,6907,013,48,Mercedes,Mercedes,Wy
1001,201301087431,8,otc alterations permit,01/08/2013,3604,058A,4075,20th,20th,St
1002,201301087446,8,otc alterations permit,01/08/2013,3923,006,1550,Bryant,Bryant,St
1003,201301087429,8,otc alterations permit,01/08/2013,3705,039,55,05th,05th,St
1004,201301087448,8,otc alterations permit,01/08/2013,3923,006,1550,Bryant,Bryant,St
1005,201301087447,8,otc alterations permit,01/08/2013,0613,029,2330,Clay,Clay,St
1006,201301087449,8,otc alterations permit,01/08/2013,3608,017,3350,B,21st,St
1007,201301087450,8,otc alterations permit,01/08/2013,1861A,005,910,Lawton,Lawton,St
1008,M365147,8,otc alterations permit,01/08/2013,1018,007,414,Spruce,Spruce,St
1009,M365147,8,otc alterations permit,01/08/2013,1018,007,416,Spruce,Spruce,St

In [37]:
bb.fillna(method='bfill', axis=0)

,Permit Number,Permit Type,Permit Type Definition,Permit Creation Date,Block,Lot,Street Number,Street Number Suffix,Street Name,Street Suffix
1000,201301087445,8,otc alterations permit,01/08/2013,6907,013,48,B,Mercedes,Wy
1001,201301087431,8,otc alterations permit,01/08/2013,3604,058A,4075,B,20th,St
1002,201301087446,8,otc alterations permit,01/08/2013,3923,006,1550,B,Bryant,St
1003,201301087429,8,otc alterations permit,01/08/2013,3705,039,55,B,05th,St
1004,201301087448,8,otc alterations permit,01/08/2013,3923,006,1550,B,Bryant,St
1005,201301087447,8,otc alterations permit,01/08/2013,0613,029,2330,B,Clay,St
1006,201301087449,8,otc alterations permit,01/08/2013,3608,017,3350,B,21st,St
1007,201301087450,8,otc alterations permit,01/08/2013,1861A,005,910,NaN,Lawton,St
1008,M365147,8,otc alterations permit,01/08/2013,1018,007,414,NaN,Spruce,St
1009,M365147,8,otc alterations permit,01/08/2013,1018,007,416,NaN,Spruce,St